<div class="row">       
                <div class="col-md-12">   
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>
                                    {{#link-to 'users.add'}}
                                    <button class="btn btn-default">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                                            
                                    </button>
                                    {{/link-to}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each user in model}}
                                <tr>
                                    <td>{{user.name}}</td>
                                    <td>{{user.description}}</td>
                                    <td>
                                        <button class="btn btn-default" {{action "remove" user}}>
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    
                    {{outlet}}
                </div>
            </div>